@charset "utf-8";
/* CSS Document */

/* Style the header */
.header {
	background-color: rgb(185, 8, 8); /* fallback */
	background-color: rgba(185, 8, 8, 0.7);
	z-index: 100;
	border-radius: 15px;
	position: fixed;
	width: 95%;
	margin: 0 auto;
	height: 110px;
	left: 50%;
	transform: translateX(-50%);	
}


#header-table{ 
	color: aliceblue;
	position: fixed;
	width: 97%;
	left: 50%;
	height: 110px;
	top: 5px;
	bottom:5px; 
	transform: translateX(-50%);
	z-index: 300;
	margin: 0 auto;
}

.floatright{
	margin: 10px;
	float: right;
}
.floatleft{
	margin: 10px;
	float: left;
}
.floatcenter{
	margin: 10px;
	
}



#framework{
	padding-top:150px;
	
}

#template_table{
	width:100%;}
#center_column{
	background-color: rgba(255, 248, 220, 0.85);
	border-radius: 10px;
	width:30%;
	margin: 12%
	
}
#column-content{
	padding: 10px;
	vertical-align: top;
}

#right-column{
	background-color: rgba(255, 251, 235, 0.85);
	border-radius: 10px;
	width:100%;
}


#sidebarMenu {
    height: 200%;	
    position: inherit;
    left: 0;
    width: 200%;

}
.sidebarMenuInner{
	position: fixed;
	border-radius: 10px;
    margin:0;
    padding:0;
	color: black;
	width: 18%;	
	background-color: rgba(94,111,154,.6);
  
}
.sidebarMenuInner li{
    list-style: none;
    color: white;
    padding: 20px;
	text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 130%;
    font-weight: bold;
}
.sidebarMenuInner li:hover{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
	border-radius: 10px;
    cursor: pointer;
	background-color: rgba(185, 8, 8, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.90);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 248, 220, 0.85);
}
.sidebarMenuInner li a{
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
	font-size: 130%;
    cursor: pointer;
    text-decoration: none;
}

body{
	color: #340000;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}

/*centerh1 CSS Document */


.centerh1 {
	color: rgb(185, 8, 8); /* fallback */
	background-color: rgba(185, 8, 8, 0.7);
	z-index: 100;
	border-radius: 15px;
	position: fixed;
	width: 95%;
	margin: 0 auto;
	height: 110px;
	left: 50%;
	transform: translateX(-50%);	
}


#header-table{ 
	color: aliceblue;
	position: fixed;
	width: 97%;
	left: 50%;
	height: 110px;
	top: 5px;
	bottom:5px; 
	transform: translateX(-50%);
	z-index: 300;
	margin: 0 auto;
}

.floatright{
	margin: 10px;
	float: right;
}
.floatleft{
	margin: 10px;
	float: left;
}



#framework{
	padding-top:150px;
	
}

#template_table{
	width:100%;
}
#center_column{
	background-color: rgba(255, 248, 220, 0.85);
	border-radius: 10px;
	width:100%;
}
.column-content{
	padding: 10px;
	vertical-align: top;
}

#right-column{
	background-color: rgba(255, 251, 235, 0.85);
	border-radius: 10px;
	width:90%;
}


#sidebarMenu {
    height: 200%;	
	
    position: inherit;
    left: 0;
    width: 200%;

}
.sidebarMenuInner{
	position: fixed;
	border-radius: 10px;
    margin:0;
    padding:0;
	color: black;
	width: 18%;	
	background-color: rgba(94,111,154,.6);
  
}
td{
	vertical-align: top;
}
.sidebarMenuInner li{
    list-style: none;
    color: white;
    padding: 20px;
	text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 130%;
    font-weight: bold;
}
.sidebarMenuInner li:hover{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
	border-radius: 10px;
    cursor: pointer;
	background-color: rgba(185, 8, 8, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.90);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 248, 220, 0.85);
}
.sidebarMenuInner li a{
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
	font-size: 130%;
    cursor: pointer;
    text-decoration: none;
}

body{
	color: #340000;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}
.centerh1 {
  text-align: center;
}

/* this is because the validation service doesn't like inline style apparently*/
.tdwidth20 td {
	width: 20%
}

.table80 table {
	width: 80%;
	padding: 5px;
	border: 0;
	
}
.paligncenter p {
	text-align: center;
}

.pictureswidth td {
	width: 45%;
}

#rightcontentwidth {
	width: 20%;
}

#navwidth {
	width: 10%
}

.h2aligncenter h2 {
	text-align: center;
}

.iframeborder iframe {
	frameborder: 0;
}

#aboutustextalign {
	text-align: center;
}
.aligncenter {
	text-align: center;
}

#aboutustr {
	align-content: center;
	vertical-align: top;
}

.aboutustable table {
	align-content: center;
	padding: 5px;
}
.alignleft {
	text-align: left;
}
