@charset "utf-8";
/* CSS Document */

/* Style the header */
.header {
	padding: 10px 16px;
	background-color: rgb(185, 8, 8); /* fallback */
	background-color: rgba(185, 8, 8, 0.85);
	z-index: 100;
	border-radius: 10px;
	position: fixed;
	width: 95%;
	margin: 0 auto;
	height: 110px;
	left: 50%;
	transform: translateX(-50%);
	overflow: auto;	
}

#header-table{ 
	color: aliceblue;
	position: fixed;
	width: 97%;
	left: 50%;
	height: 110px;
	top: 5px;
	bottom:5px; 
	transform: translateX(-50%);
	z-index: 300;
	margin: 0 auto;
}
.floatright{
	margin: 10px;
	float: right;
}
.floatleft{
	margin: 10px;
	float: left;
}


#framework{
	padding-top:150px;
	
}

#template_table{
	width:100%;
}
#center_column{
	background-color: rgba(255, 248, 220, 0.85);
	border-radius: 10px;
	width:100%;
}
#column-content{
	padding: 10px
}

